<p>
  <strong>Log type:</strong>
  <%= @task.log_type.name %>
</p>

<p>
  <strong>Input type:</strong>
  <%= @task.input_type %>
</p>

<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<% if can? :edit, Task %>
<%= link_to 'Edit', edit_task_path(@task) %>
<% end %>
