<% if can? :read, Alert %>
  <%= render 'shared/buttons/option_button', alt: 'header' do %>
    <li class="option-button__option"><%= link_to 'Show', plant_alert_path(@plant, @alert), class: 'option-button__option-link' %></li>
  <% end %>
<% end %>

<h2 class="main__title">Editing Alert <%= @alert.title %></h2>

<%= render 'form', alert: @alert %>
