<div class="company">
  <h2 class="company__logo"><svg class="footer_logo__svg"><use xlink:href="#bf-logo"></use><svg></h2>
  <p class="company__text">BioFiltro is an international wastewater treatment company with a patented filtration system
  that naturally removes up to 99% of contaminants in 4 hours.</p>
</div>

<div class="contact">
  <div class="contact__ico">
    <i class="icon-envelope"></i>
  </div>
  <div class="contact__info">
    <p class="contact__title">Email</p>
    <p class="contact__content"><a href="mailto:info@biofiltro.com" class="contact__link">info@biofiltro.com</a></p>
  </div>
</div>
