<div class="company">
  <h2 class="company__logo"><svg class="footer_logo__svg"><use xlink:href="#bf-logo"></use><svg></h2>
  <p class="company__text"><%= t(:description, scope: :footer) %></p>
</div>

<div class="contact">
  <div class="contact__ico">
    <i class="icon-envelope"></i>
  </div>
  <div class="contact__info">
    <p class="contact__title"><%= t(:email, scope: :footer) %></p>
    <p class="contact__content"><a href="mailto:info@biofiltro.com" class="contact__link">info@biofiltro.com</a></p>
  </div>
</div>
