<ul class="flags">
  <li class="flag__item">
    <div class="flag__img"><svg class="flag__svg"><use xlink:href="#flag-usa"></use><svg></div>
      <div class="flag__data">
        <p class="flag__title">Headquarters</p>
        <p class="flag__phone"><a href="tel:+5305644260" class="flag__link">+530 564 4260</a></p>
      </div>
    </li>
  <li class="flag__item">
    <div class="flag__img"><svg class="flag__svg"><use xlink:href="#flag-chile"></use><svg></div>
    <div class="flag__data">
      <p class="flag__title">Chile</p>
      <p class="flag__phone"><a href="tel:+56232243648" class="flag__link">+56 2 3224 3648</a></p>
    </div>
  </li>
  <li class="flag__item">
    <div class="flag__img"><svg class="flag__svg"><use xlink:href="#flag-peru"></use><svg></div>
    <div class="flag__data">
      <p class="flag__title">Peru</p>
      <p class="flag__phone"><a href="tel:+51944579292" class="flag__link">+51 944579292</a></p>
    </div>
  </li>
</ul>
