<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 184 72" class="<%= className %>">
  <defs>
    <style>
      .blue  { fill: var(--blue); }
      .white { fill: var(--modal-bg) }
    </style>
  </defs>
  <title>2-steps</title>
  <g id="base">
    <rect class="blue" x="54.75" y="33.5" width="74" height="5"/>

    <circle class="white c1" cx="35.25" cy="36" r="31.5"/>
    <path class="blue c1" d="M35.25,6a30,30,0,1,1-30,30,30,30,0,0,1,30-30m0-3a33,33,0,1,0,33,33,33,33,0,0,0-33-33Z"/>
    <circle class="white c2" cx="148.75" cy="36" r="31.5"/>
    <path class="blue c2" d="M148.75,6a30,30,0,1,1-30,30,30,30,0,0,1,30-30m0-3a33,33,0,1,0,33,33,33,33,0,0,0-33-33Z"/>
  </g>
  <g id="circles">
    <circle class="blue s1" cx="35.25" cy="36" r="26"/>
    <circle class="blue s2" cx="148.75" cy="36" r="26"/>
  </g>
</svg>
