<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 72" class="<%= className %>">
  <defs>
    <style>
      .blue  { fill: var(--blue); }
      .white { fill: var(--modal-bg) }
    </style>
  </defs>
  <title>3-steps</title>
  <g id="base">
    <rect class="blue" x="56" y="33.5" width="196" height="5"/>

    <circle class="white c1" cx="36.5" cy="36" r="31.5"/>
    <path class="blue c1" d="M36.5,6a30,30,0,1,1-30,30,30,30,0,0,1,30-30m0-3a33,33,0,1,0,33,33,33,33,0,0,0-33-33Z"/>
    <circle class="white c2" cx="150" cy="36" r="31.5"/>
    <path class="blue c2" d="M150,6a30,30,0,1,1-30,30A30,30,0,0,1,150,6m0-3a33,33,0,1,0,33,33A33,33,0,0,0,150,3Z"/>
    <circle class="white c3" cx="263.5" cy="36" r="31.5"/>
    <path class="blue c3" d="M263.5,6a30,30,0,1,1-30,30,30,30,0,0,1,30-30m0-3a33,33,0,1,0,33,33,33,33,0,0,0-33-33Z"/>
  </g>
  <g id="circles">
    <circle class="s1 blue" cx="36.5" cy="36" r="26"/>
    <circle class="s2 blue" cx="150" cy="36" r="26"/>
    <circle class="s3 blue" cx="263.5" cy="36" r="26"/>
  </g>
</svg>
