/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap-material-design.min
 *= require_self
 *= require_tree .
 */

@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons";

 :root {
  /* Corporative Colors */
  --blue: #007BB2;
  --white: #fff;
  --bf-cyan: #70caf2;
  --bf-blue: #333366;
  --bf-gray: #615e66;
  --bf-light-blue: #5bcbf5;
  --bf-dark-blue: #193661;

  --bf-logo-light-blue: var(--bf-light-blue);
  --bf-logo-dark-blue: var(--bf-dark-blue);
  --bf-logo-gray: var(--bf-gray);


  /* Alerts Colors */
  --danger: #f00;
  --danger-hover: #fff;

  /* Regular Colors */
  --bg: #fff;
  --bg-hue: 0;
  --bg-sat: 0%;
  --bg-lig: 100%;

  --text: #333;
  --links: #666;
  --links-hover: #fff;
  --cel-division-text: #333;
  --cel-division-bg: #eeeeee;
  --links-hover-bg: #007BB2;
  --input-bg: rgba(0,0,0,.05);
  --input-text: #333;
  --input-border: 1px solid rgba( 0,0,0, .1 );
  --submit-bg: #fff;
  --submit-text: #007BB2;
  --submit-border: 1px solid #007BB2;
  --system-size-bottom: #292c34;
  --login-form-bg: #fff;
  --login-form-footer-border: #dce8f1;
  --login-form-footer-bg: #fff;
  --dropdown-divider-color: #e9ecef;
  --border-radius: 3px;
 }

@media (prefers-color-scheme: dark) {
  :root {
    /* Alerts Colors */
    --danger: #fa5b5b;
    --danger-hover: #fff;
    --warning: #f3f551;
    --warning-hover: #aaab39;

    /* Regular Colors */
    --bg: hsl(224, 7%, 21%);
    --bg-hue: 224;
    --bg-sat: 7%;
    --bg-lig: 18%;

    --text: #acb2be;
    --links: #72aeea;
    --links-hover: #fff;
    --cel-division-text: #ccc;
    --cel-division-bg: #3f4249;
    --links-hover-bg: #007BB2;
    --input-bg: rgba(0,0,0,.5);
    --input-text: #ccc;
    --input-border: 1px solid rgba( 255,255,255,.2 );
    --submit-bg: #292c34;
    --submit-text: #007BB2;
    --submit-border: 1px solid #007BB2;
    --system-size-bottom: #292c34;
    --login-form-bg: rgba(255,255,255,.05);
    --login-form-footer-border: rgba(255,255,255,.25);
    --login-form-footer-bg: rgba(255,255,255,.075);
    --dropdown-divider-color: #444;

    --bf-logo-light-blue: #fff;
    --bf-logo-dark-blue: #fff;
    --bf-logo-gray: #fff;
  }

  input:-webkit-autofill {
    color: #fff;
  }
}

body.light_interface {
 /* Corporative Colors */
 --blue: #007BB2;
 --white: #fff;
 --bf-cyan: #70caf2;
 --bf-blue: #333366;
 --bf-gray: #4f5050;

 --bf-logo-light-blue: var(--bf-light-blue);
 --bf-logo-dark-blue: var(--bf-dark-blue);
 --bf-logo-gray: var(--bf-gray);

 /* Alerts Colors */
 --danger: #f00;
 --danger-hover: #fff;

 /* Regular Colors */
 --bg: #fff;
 --bg-hue: 0;
 --bg-sat: 0%;
 --bg-lig: 100%;

 --text: #333;
 --links: #666;
 --links-hover: #fff;
 --cel-division-text: #333;
 --cel-division-bg: #eeeeee;
 --links-hover-bg: #007BB2;
 --input-bg: rgba(0,0,0,.05);
 --input-text: #333;
 --input-border: 1px solid rgba( 0,0,0, .1 );
 --submit-bg: #fff;
 --submit-text: #007BB2;
 --submit-border: 1px solid #007BB2;
 --system-size-bottom: #292c34;
 --login-form-bg: #fff;
 --login-form-footer-border: #dce8f1;
 --login-form-footer-bg: #fff;
 --dropdown-divider-color: #e9ecef;
 --border-radius: 3px;
}

body.dark_interface {
  /* Alerts Colors */
  --danger: #fa5b5b;
  --danger-hover: #fff;
  --warning: #f3f551;
  --warning-hover: #aaab39;

  /* Regular Colors */
  --bg: hsl(224, 7%, 21%);
  --bg-hue: 224;
  --bg-sat: 7%;
  --bg-lig: 18%;

  --text: #acb2be;
  --links: #72aeea;
  --links-hover: #fff;
  --cel-division-text: #ccc;
  --cel-division-bg: #3f4249;
  --links-hover-bg: #007BB2;
  --input-bg: rgba(0,0,0,.5);
  --input-text: #ccc;
  --input-border: 1px solid rgba( 255,255,255,.2 );
  --submit-bg: #292c34;
  --submit-text: #007BB2;
  --submit-border: 1px solid #007BB2;
  --system-size-bottom: #292c34;
  --login-form-bg: rgba(255,255,255,.05);
  --login-form-footer-border: rgba(255,255,255,.25);
  --login-form-footer-bg: rgba(255,255,255,.075);
  --dropdown-divider-color: #444;

  --bf-logo-light-blue: #fff;
  --bf-logo-dark-blue: #fff;
  --bf-logo-gray: #fff;
}
