body {
  background-color: var(--bg);
  color: var(--text);
  margin: 0;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: var(--links);

  &:visited {
    color: var(--links);
  }

  &:hover {
    color: var(--links-hover);
    background-color: var(--links-hover-bg);
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.container.main {
  margin-top: 6rem;
}

label {
  display: block;
}

input,
textarea {
  background-color: var(--input-bg);
  color: var(--input-text);
  border-radius: 3px;
  border: var(--input-border);
  padding: 4px;
}

button, input[type="submit"], input[type="reset"] {
  background-color: var(--blue);
  color: var(--white);
  border: var(--submit-border);
  border-radius: 3px;
  padding: 3px 5px;
  font: inherit;
  cursor: pointer;
  outline: inherit;

  &:hover {
    background-color: var(--submit-bg);
    color: var(--submit-text);
    border: var(--submit-border);
  }
}

.navbar {

  &.fixed-top {
    background-color: var(--bg);
  }

  &-nav {

    .dropdown-menu {
      background-color: hsl(var(--bg-hue), var(--bg-sat), var(--bg-lig));

      .dropdown-item {
        color: var(--links);

        &:focus,
        &:hover {
          background-color: var(--blue);
          color: hsl(var(--bg-hue), var(--bg-sat), var(--bg-lig));
        }
      }
    }
  }

  .dropdown-divider {
    border-top: 1px solid var(--dropdown-divider-color);
  }
}



.field .hide,
.work_summary--hide {
  display: none;
}

.field input.responsive {
  width: 100%;
}

.standards {

  &__view {

  }

  &__th {
    text-align: center;
  }
}

.cell_division {
  font-size: 1rem;
  font-weight: normal;
  background: var(--cel-division-bg);
  color: var(--cel-division-text);
  padding: 5px;
}

.description {
  display: none;

  &.show {
    display: block;
  }
}

.plus_button {
  background-color: var(--blue);
  color: white;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid transparent;

  &__link {
    padding: 30px;
    display: inline-block;
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-size: 1.5rem;

    &:hover {
      background: transparent;
    }
  }

  &:hover {
    border-color: var(--blue);
    background-color: var(--bg);

    a {
      color: var(--blue);
    }
  }
}

.system_size {

  &__size {
    border: 1px solid var(--blue);
    border-radius: var(--border-radius);
    padding: 10px;
    margin: 10px;
  }

  &__elements {
    list-style: none;
  }

  &__bottom {
    @extend .plus_button;

    .system_size__plus {
      @extend .plus_button__link;
    }
  }

}

span.size__delete {
  color: var(--danger);
  float: right;
  padding: 3px 5px;
  font-size: 1rem;

  &:hover {
    background-color: var(--danger);
    color: var(--danger-hover);
    border-radius: 3px;
  }
}


.work_summary {
  list-style: none;
  position: relative;

  &__delete_div {
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
  }

  &__delete {
    background-color: red;
    padding: 4px 9px;
    border-radius: 50%;
    display: inline-block;
    color: white;
    text-decoration: none;
  }
}

table.form_logs {

  tr {

    td {
      padding: 4px;
      background-color: rgba(255,255,255,.05);

      select {
        width: 100%;
      }
    }

    &:nth-child(even) {
    }

    &.no_background{

      td {
        background-color: transparent;
      }
    }
  }

}
