<% if can? :read, Standard %>
  <%= render 'shared/buttons/option_button', alt: 'header' do %>
    <li class="option-button__option"><%= link_to t(:show, scope: :global), @standard, class: 'option-button__option-link' %></li>
  <% end %>
<% end %>

<h2 class="main__title">Editing Standard</h2>

<%= render 'form', standard: @standard %>
