<p>
  <strong>Option:</strong>
  <%= @standard.option %>
</p>

<p>
  <strong>Plant:</strong>
  <%= @standard.plant %>
</p>

<p>
  <strong>Active:</strong>
  <%= @standard.active %>
</p>

<% if can? :edit, Standard %>
<%= link_to t(:edit, scope: :global), edit_standard_path(@standard) %>
<% end %>
