<h1>Editing Report</h1>
<h5><%= @report.created_at.strftime("%B, %Y") %></h5>
<br />

<%= render 'form', report: @report %>

<% if can? :read, Report %>
<%= link_to 'Show', plant_report_path(@plant, @report) %>
<% end %>
